<li>
  <%= gravatar_for user%>
  <%= link_to user.email, user %>
  <% if current_user.role.admin? || user == current_user %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
    | <%= link_to "edit", edit_path %>                              
  <% end %>
</li>

